body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0px;

}
*{
    box-sizing: border-box;
}
.bg-image{
    /* gambar yang digunakan */
    background-image: url("p2.jpg");
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container{
    position: absolute;
    margin: 20px;
    /* right: 16px; membuat navbar ke kanan */
    width: auto;
}
.topnav a{
    float: left;
    font-weight: bolder;
    color: #070707;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover{
    background-color: #ddd;
    border-radius: 10px;
    color: black;
}
.content{
    background-color: rgb(0,0,0); /* warna hitam */
    background-color: rgba(0,0,0, 0.3); /* efek transparan */
    color: white;
    font-weight: bold;
    font-size: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
}
/* start css pendidikan */
.content-pendidikan{
    border-radius: 10px;
    color: rgb(14, 1, 1);
    font-weight: bold;
    font-size: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
table{
    width: 100%;
    border-spacing: 15px;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
th{
    width: 20%;
    background-color: rgb(119, 136, 153);
    background-color: rgba(119, 136, 153, 0.8);
    color: rgb(255, 255, 255);
}
td{
    background-color: rgb(201, 209, 216);
    background-color: rgba(201, 209, 216, 0.3);
}
/* end css pendidikan */
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    background-color: #ffffff;
    margin: auto;
    max-width: 30%;
    text-align: center;
    height: 300px;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
  }
.card img{
    margin-top: -50px;
}
  
.title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
/* end css me */

/* start css pelatihan  */

.content-pelatihan{
    margin: auto;
    max-width: 30%;
    text-align: center;
    height: 300px;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    color: rgb(33, 33, 34);
}
/* end css pelatihan */
.wrapper .container {
    width: 100%;
    margin-top: -25px;
    align-content: center;
}
.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    align-content: center;
}

.html {
    width: 20%; 
    background-color: #4CAF50;}
.css {
    width: 20%; 
    background-color: #2196F3;}